<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Pokedex</title>

        <link href="dist/css/app.css" rel="stylesheet">
    </head>
    <body>
        <div id="app">
            <h2>Message: ${ message }</h2>
            <!--<the-nav></the-nav>

            <div class="container mx-auto">
                <the-search-box></the-search-box>
                <the-list-data></the-list-data>
            </div>

            <the-footer></the-footer>-->
        </div>
        <!--<div id="content">
            {% block content %}{% endblock %}
        </div>-->
    </body>
    <script src="dist/js/app.js"></script>
</html>
